:root {
  margin: 0 auto;
  overflow: hidden;
}
body {
  margin: 0 auto;
  overflow: hidden;
}

#info {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 8px
}